/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
body{
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
}
.hamburger{
    display: none;
    width: 38px;
    height: 40px;
    background: transparent;
    position: relative;
}
.hamburger span{
    width: 38px;
    height: 2px;
    position: absolute;
    display: block;
    background: #DC6B31;
    left: 0;
    transition: all 0.5s;
}
.hamburger span:nth-child(1){
    top: 10px;
}
.hamburger span:nth-child(2){
    top: 50%;
    margin-top: -1px;
}
.hamburger span:nth-child(3){
    bottom: 10px;
}
.hamburger_active span:nth-child(1){
    transform: rotate(45deg);
    top: 18.7px;
}
.hamburger_active span:nth-child(2){
    opacity: 0;
}
.hamburger_active span:nth-child(3){
    transform: rotate(-45deg);
    bottom: 18px;
}
nav{
    background: #58B1B4;
    padding: 6px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 4;
}
.nav__elements{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo{
    width: 127px;
    height: 42px;
    display: block;
}
.nav__logo img{
    width: 100%;
}
.nav__links{
    justify-content: space-between;
    display: flex;
    max-width: 540px;
    width: 46.5%;
    min-width: 430px;
    z-index: 3;
}
.nav__links a{
    color: #016568;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    line-height: 21px;
    transition:all 0.5s;
}
.nav__links a:hover{
    color: #fff;
    text-shadow:0 0 8px #f8f8f8;
}
.nav__social{
    display: flex;
    align-items: center;
    z-index: 2;
}
.tel{
    font-family: Dancing Script;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #DC6B31;
}
.nav__social a:nth-child(2){
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    color: #DC6B31;
    margin: 0 10px 0 26px;
}
.nav__social a:nth-child(3){
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    color: #DC6B31;
}
header{
    background-image: url(../img/1.jpg);
    background-repeat: no-repeat;
    padding: 134px 0 233px 0;
    background-size: cover;
    background-position: right -250px top 0;
    position: relative;
}
header .container{
    z-index: 1;
    position: relative;
}
header h1{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 72px;
    color: #C24624;
    margin: 0 0 33px 0;
}
h1 span{
    line-height: 52px;
    font-size: 50px;
    font-weight: 400;
    position: relative;
    top: -10px;
}
header p{
    font-family: Marck Script;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 35px;
    color: #E3440C;
    margin: 0 0 52px 0;
    width: 391px;
}
header p span{
    text-align: right;
    display: block;
}
header a{
    display: inline-block;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    color: #E3440C;
    background: #FFFFFF;
    border: 2px solid #E3440C;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 20px 48px;
    transition: all 0.5s;
}
header a:hover{
    background: #E3440C;
    color: #fff;
}
.header-background{
    position: absolute;
    height: 100%;
    width: 40%;
    background: #ffd586b9;
    top: 0;
    right: 0;
    z-index: 0;
    display: none;
}
.fixid-phone{
    display: none;
    width: 40px;
    height: 40px;
    background: #58B1B4;
    position: fixed;
    bottom: 150px;
    right: 16px;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    color: #fff;
    font-size: 30px;
    transform: rotate(200deg);
}
.aboutme{
    background: #ffd586b9;
    padding: 32px 0;
}
.aboutme__elements img{
    box-shadow: -10px 10px 20px #DC6B31;
    border-radius: 30px;
    width: 300px;
}
.aboutme__elements{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.aboutme__info{
    padding: 30px 15px 30px 15px;
    text-align: left;
    display: block;
    border-radius: 30px;
    width: 40%;
    background-image: url();
    background-repeat: no-repeat;
    background-position: left 70px top -15px;
    background-size: 200px;
}
.aboutme__info h2{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: #E3440C;
    position: relative;
    margin-bottom: 10px;
    display: inline-block;
}
h2::after{
    content:"";
    width: 70%;
    height: 2px;
    background: #016568;
    position: absolute;
    bottom: -5px;
    left: 0;
}
.aboutme__info p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 120%;
    color: #E3440C;
    margin-top: 15px;
    text-shadow: 0 0 0 2px #E3440C;
}