/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', sans-serif;
}
body::-webkit-scrollbar{
width: 8px;
}
body::-webkit-scrollbar-track{
    background: #f8f8f8;
}
body::-webkit-scrollbar-thumb{
background: #C24624;
border-radius: 8px;
}
.scroll_none{
    overflow: hidden;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
}
.hamburger{
    display: none;
    width: 38px;
    height: 40px;
    background: transparent;
    position: relative;
}
.hamburger span{
    width: 38px;
    height: 2px;
    position: absolute;
    display: block;
    background: #DC6B31;
    left: 0;
    transition: all 0.5s;
}
.hamburger span:nth-child(1){
    top: 10px;
}
.hamburger span:nth-child(2){
    top: 50%;
    margin-top: -1px;
}
.hamburger span:nth-child(3){
    bottom: 10px;
}
.hamburger_active span:nth-child(1){
    transform: rotate(45deg);
    top: 18.7px;
}
.hamburger_active span:nth-child(2){
    opacity: 0;
}
.hamburger_active span:nth-child(3){
    transform: rotate(-45deg);
    bottom: 18px;
}
nav{
    background: #58B1B4;
    padding: 6px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 4;
    transition: 0.5s;
}
.nav__elements{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo{
    width: 127px;
    height: 42px;
    display: block;
}
.nav__logo img{
    width: 100%;
}
.nav__links{
    justify-content: space-between;
    display: flex;
    max-width: 540px;
    width: 46.5%;
    min-width: 430px;
    z-index: 3;
}
.nav__links a{
    color: #016568;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    line-height: 21px;
    transition:all 0.5s;
}
.nav__links a:hover{
    color: #fff;
    text-shadow:0 0 8px #f8f8f8;
}
.nav__social{
    display: flex;
    align-items: center;
    z-index: 2;
    transition: 0.5s;
}
.tel{
    font-family: Dancing Script;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #DC6B31;
}
.nav__social a:nth-child(2){
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    color: #DC6B31;
    margin: 0 10px 0 26px;
}
.nav__social a:nth-child(3){
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    color: #DC6B31;
}
header{
    background-image: url(../img/1.jpg);
    background-repeat: no-repeat;
    padding: 134px 0 233px 0;
    background-size: cover;
    background-position: right -250px top 0;
    position: relative;
}
header .container{
    z-index: 1;
    position: relative;
}
header h1{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 72px;
    color: #C24624;
    margin: 0 0 33px 0;
}
.header__title{
    line-height: 120%;
    font-size: 50px;
    font-weight: 400;
    position: relative;
    top: -10px;
    color: #C24624;
}
header p{
    font-family: Marck Script;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 35px;
    color: #E3440C;
    margin: 0 0 52px 0;
    width: 391px;
}
header p span{
    text-align: right;
    display: block;
}
header a{
    display: inline-block;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    color: #E3440C;
    background: #FFFFFF;
    border: 2px solid #E3440C;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 20px 48px;
    transition: all 0.5s;
}
header a:hover{
    background: #E3440C;
    color: #fff;
}
.header-background{
    position: absolute;
    height: 100%;
    width: 40%;
    background: #ffd586b9;
    top: 0;
    right: 0;
    z-index: 0;
    display: none;
}
.fixid-phone{
    display: none;
    width: 40px;
    height: 40px;
    background: #58B1B4;
    position: fixed;
    bottom: 75px;
    right: 16px;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    color: #fff;
    font-size: 30px;
    transform: rotate(200deg);
    z-index: 2;
}
.aboutme{
    background: #ffd586b9;
    padding: 32px 0;
}
.aboutme__elements img{
    box-shadow: -10px 10px 20px #DC6B31;
    border-radius: 30px;
    width: 300px;
}
.aboutme__elements{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.aboutme__info{
    padding: 30px 15px 30px 15px;
    text-align: left;
    display: block;
    border-radius: 30px;
    width: 40%;
}
.aboutme__info h2{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: #E3440C;
    position: relative;
    margin-bottom: 10px;
    display: inline-block;
}
h2::after{
    content:"";
    width: 70%;
    height: 2px;
    background: #016568;
    position: absolute;
    bottom: -5px;
    left: 0;
}
.aboutme__info p{
    font-family: 'IBM Plex Serif', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 120%;
    color: #E3440C;
    margin-top: 15px;
    text-shadow: 0 0 0 2px #E3440C;
}
.services{
    padding: 32px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.623);
    position: relative;
}
.services__list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
}
.services__item{
    width: 26%;
    min-width: 280px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: auto 130px;
    padding: 160px 0 10px 0;
    text-align: center;
    align-items: center;
    margin-bottom: 10px;
    transition: all 0.5s;
    border-radius: 20px;
}
.services__item:hover{
    background-size: auto 150px;
    box-shadow: 0 0 10px #DC6B31;
}
.services h2{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: #016568;
    position: relative;
    margin-bottom: 30px;
    display: inline-block;
}
.one-service{
    background-image: url(../img/комби.png);
}
.services__item h3{
    font-size: 24px;
    color: #C24624;
    max-width: 80%;
}
.services__link{
    background: #58B1B4;
    padding: 10px 25px;
    border-radius: 100px;
    font-size: 18px;
    color: #fff;
    margin-top: 30px;
    display: inline-block;
    transition: all 0.5s;
    width: 60%;
}
.services__link:hover{
    color: #58B1B4;
    background: #fff;
    border: #016568 1px solid;
    box-shadow: 0 5px 15px 2px #58B1B4;
}
.services__link:active{
    transform: scale(0.92);
    box-shadow: 0 2px 7px 2px #58B1B4;
    transition: 0.1s;
}
.two-service{
    background-image: url(../img/ножницы.png);
    background-position: top 10px center;
}
.three-service{
    background-image: url(../img/лак.png);
}
.four-service{
    background-image: url(../img/наращ.png);
    background-position: top 10px center;
}
.five-service{
    background-image: url(../img/моделир.png);
}
.six-service{
    background-image: url(../img/коррекция.png);
}
.modal-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #dc6a31b4;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: 00.5s;
}
.modal-wrapper_active{
    opacity: 1;
    visibility: visible;
}
.content{
    width: 40%;
    height: auto;
    background: #fff;
    border-radius: 20px;
    text-align: center;
    min-width: 300px;
    max-height: 70vh;
    overflow-y: auto;
    padding: 30px 16px;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 11;
    transform: translate(-50%,-50%);
}
.content h3{
    font-size: 36px;
    color: #58B1B4;
    margin: 0 0 10px 0;
    font-weight: bold;
}
.content p{
    font-size: 18px;
    color: #016568;
    
}
.content_active{
    opacity: 1;
    visibility: visible;
}
.works{
    padding: 32px 0;
    background: linear-gradient(90deg, #68CACD 4.1%, #2B5666 51.01%, #68CACD 96.01%);
    background-size: 7000%;
    background-position: center;
    background-attachment: fixed;
    animation: bg-works 150s linear infinite;
}
@keyframes bg-works{
    0%{
        background-position: center center;
    }
    25%{
        background-position: center right;
    }
    50%{
        background-position: center center;
    }
    75%{
        background-position: center left;
    }
    100%{
        background-position: center center;
    }
}
.works h2{
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: #C24624;
    position: relative;
    margin-bottom: 30px;
    display: inline-block;
    text-shadow: 0 0 10px#fff;
    animation: shadow-title 150s linear infinite;
}
@keyframes shadow-title{
    0%{
        text-shadow: 0 0 10px #fff;
    }
    25%{
        text-shadow: 0 0 0px #fff;
    }
    50%{
        text-shadow: 0 0 10px #fff;
    }
    75%{
        text-shadow: 0 0 0px #fff;
    }
    100%{
        text-shadow: 0 0 10px #fff;
    }
}
.swiper{
   width: 50%; 
   min-width: 584px;
   height: 500px;
    border-radius: 25px;
}
.swiper-slide{
    border-radius: 25px;
}
.swiper-slide img{
    width: 100%;
    height: 100%;
    border-radius: 25px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.514);
}
#swiperButtonNext, #swiperButtonPrev{
    color: #C24624;
    font-size: 20px;
    font-weight: bold;
    transition: 0.5s;
}
#swiperButtonNext:hover, #swiperButtonPrev:hover{
    transform: scale(1.2);
    text-shadow: 0 5px 10px #fff ;
}
#swiperButtonNext:active, #swiperButtonPrev:active{
    transform: scale(0.9);
    text-shadow: 0 2px 5px #fff ;
}
#swiperButtonNext{
    right: -150px;
}
#swiperButtonPrev{
    left: -150px;
}
.swiper-pagination-bullet-active{
    background-color: #C24624;
}  
.swiper-pagination{
    bottom: -25px!important;
}
.reviews{
    background-image: url(../img/pawel-czerwinski-BFxnx0UHVGM-unsplash.jpg);
    background-size: cover;
    padding: 32px 0;
    background-attachment: fixed;
}
.reviews h2{
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: #016568;
    position: relative;
    margin-bottom: 30px;
    display: inline-block;
}
#reviewsSwiper{
    height: auto;
    border-radius: 0;
    margin: 0 auto 50px auto;
}
#reviewsSwiper .swiper-slide {
    padding: 16px;
    height: 100%;
    background: rgba(255, 255, 255, 0.726);
    border-radius: 10px;
    box-shadow: 0px 0px 20px 1px rgb(0 0 0 / 50%);
}
.image{
    width: 150px;
    height: 150px;
    background: #016568;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 10px 10px #016568a6;
}
.image1{
    background-image: url(../img/вера.jpg);
    background-position: center center;
}
.image2{
    background-image: url(../img/ира.jpg);
}
.image3{
    background-image: url(../img/арина.jpg);
    background-position: right bottom;
}
#reviewsSwiper h4{
    color: #016568;
    font-size: 32px;
    line-height: 38px;
    font-weight: bold;
}
#reviewsSwiper p{
    color: #2B5666;
    font-size: 18px;
    font-style: italic;
}
#reviewsSwiperButtonNext,  #reviewsSwiperButtonPrev{
    color: #016568;
    z-index: 15;
    font-size: 100px;
    font-weight: bold;
}
#reviewsSwiperButtonNext{
    right: -150px;
}
#reviewsSwiperButtonPrev{
    left: -150px;
}
#reviewsSwiper .swiper-pagination-bullet-active{
    background: #016568;
}
.review-title{
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;
    color: #016568;
    margin: 20px 0 15px 0;
    display: block;
    text-align: center;
}
.review{
    margin: auto;
    width: 80%;
    min-width: 250px;
    background: rgba(255, 255, 255, 0.61);
    box-shadow: 0px 0px 20px 1px rgb(0 0 0 / 50%);
    border-radius: 10px;
    padding: 10px 16px 76px 16px;
    position: relative;
}
.review input,.review button, .review textarea{
    display: inline-block;
    width: 55%;
    min-width: 250px;
}
.review input{
    width: 50%;
}
.review input, .review textarea{
    border: #016568 2px solid;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    font-size: 16px;
    color: #016568;
    transition: 00.5s;
    resize: none;
    text-align: left;
    background: rgba(255, 255, 255, 0.76);
}
.review textarea{
    width: 100%;
}
.review input:focus, .review textarea:focus{
    transform: scale(1.05);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.486);
}
.review input::placeholder, .review textarea::placeholder{
    color: #346b80ab;
}
.review button{
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background: #016568;
    border-radius: 100px;
    margin: 5px 0 0 0;
    transition: 0.5s;
    position: absolute;
    bottom: 15px;
    right: 16px;
    width: 48.5%;
}
.review button:active{
    transform: scale(0.95);
    transition: 0.1s;
}
.review button:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px #2B5666;
}
.contacts{
    padding: 32px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.623);
    background: #2b566649;
}
.contacts h2{
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: #C24624;
    position: relative;
    margin-bottom: 30px;
    display: inline-block
}
.application{
    margin: auto;
    width: 80%;
    min-width: 250px;
    background: rgba(255, 255, 255, 0.61);
    border-radius: 10px;
    padding: 10px 16px 26px 16px;
    position: relative;
}
.application h3{
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;
    color: #2B5666;
    margin: 20px 0 15px 0;
    display: block;
    text-align: center;
}
.application__contacts{
    display: inline-block;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 1px rgb(0 0 0 / 50%);
    position: relative;
}
.application__contacts::before, .application__services::before{
    content: '1';
    font-size: 10vw;
    color: #c2462441;
    position: absolute;
    top: 0;
    transform: translate(-50%, -50%);
    font-family: 'Dancing Script', cursive;
}
.application__contacts::before{
    left: 0;
}
.application__services::before{
    content: '2';
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
}
.form-contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(auto,auto)  minmax(auto,auto);
    gap: 10px;
}
.application button{
    grid-column: span 2;
    width: 40%;
    margin: 0 auto;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    background: #C24624;
    color: #fff;
    border-radius: 5px;
    border: #C24624 2px solid;
    transition: 0.4s;
    position: relative;
}
.application button:hover{
    transform: perspective(500px) scale3d(1.1, 1.1, 1.1) rotateY(30deg);
    box-shadow: -10px 0 10px rgb(0 0 0 / 50%);
}
.application button:active{
    transform: perspective(500px) scale3d(1.1, 1.1, 1.1) rotateY(180deg);
    box-shadow: -10px 0 10px rgb(0 0 0 / 50%);
    transition: 0.2s;
}
.application__services{
    display: inline-block;
    padding: 9px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 1px rgb(0 0 0 / 50%);
    position: relative;
}
.application__services label{
    font-size: 16px;
    cursor: pointer;
    color: #016568;
}
.application__services .application__services-title{
    font-size: 18px;
    font-weight: bold;
    display: block;
    text-align: center;
    color: #C24624;
    cursor: context-menu;
}
.contacts input{
    display: inline-block;
    width: 100%;
    min-width: 240px;
    border: #C24624 2px solid;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    font-size: 16px;
    color: #C24624;
    transition: 00.5s;
    resize: none;
    text-align: left;
    background: rgba(255, 255, 255, 0.76);
}
.contacts input::placeholder{
    color: #C24624;
}
input[type=checkbox]{
    width: 13px;
    height: 13px;
    min-width: 13px;
    background: #C24624;
    position: relative;
    top: 2px;
    margin: 5px 10px 5px 0;
}
.application__date{
    width: 100%;
    min-width: 240px;
    display: flex;
    justify-content: space-between;
}
.application__date label{
    color: #016568;
}
.application__date input{
    min-width: 115px;
}
.application__date div{
    width: 49%;
    display: block;
    margin: 10px 0;
}
#one{
    background: #C24624;
}
footer{
    background: #f37f46f5;
    padding: 19px 0;
    text-align: center;
}
.footer__social{
    display: flex; 
    z-index: 2;
    justify-content: center;
    align-items: center;
}
.telephone{
    font-family: Dancing Script;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #016568;
}
.footer__social a:nth-child(2){
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    color: #016568;
    margin: 0 10px 0 26px;
}
.footer__social a:nth-child(3){
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    color: #016568;
}
footer p{
    color: #016568;
}
