@media (max-width: 1200px){
    header{
        background-position: top 0 right -350px;
    }
    header h1{
        font-size: 60px;
    }
    .header__title{
        font-size: 40px;
    }
}
@media (max-width: 992px){
    .nav__social a:nth-child(2){
        margin: 0 8px 0 15px;
        font-size: 20px;
    }
    .nav__social a:nth-child(3){
        font-size: 20px;
    }
    .tel{
        font-size: 15px;
    }
    .nav__logo{
        width: 97.6px;
        height: 32.3px;
    }
    header{
        background-position: top 0 right -450px;
    }
    header h1{
        font-size: 48px;
        line-height: 58px;
    }
    .header__title{
        font-size: 28px;
        line-height: 58px;
    }
    header a{
        padding: 15px 43px;
        font-size: 24px;
    }
    .services__list{
        justify-content: space-evenly;
    }
    .content h3{
        font-size: 3vw;
    }
    #swiperButtonNext{
        right: -50px;
    }
    #swiperButtonPrev{
        left: -50px;
    }
    #reviewsSwiperButtonNext{
        right: -80px;
    }
    #reviewsSwiperButtonPrev{
        left: -80px;
    }
    .application{
        width: 100%;
    }
}
@media (max-width: 768px){
    .hamburger{
        display: block;
    }
    .nav__links{
        position: fixed;
        width: 100vw;
        height: 10vh;
        flex-direction: column;
        background: #58B1B4;
        max-width: 100vw;
        top: 52px;
        justify-content: flex-start;
        align-items: center;
        padding: 50px;
        min-width: 0;
        right: -100vw;
        transition: 0.5s;
        transition-delay: 1s;
        background-image: url(../img/logo.svg);
        background-repeat: no-repeat;
        background-position: center bottom 150px;
        background-size: 50%;
        min-height: 560px;
        overflow: scroll;
    }
    .nav__links_active{
        right: 0;
        transition-delay: 0s;
    }
    .nav__links a{
        font-weight: bold;
        font-style: italic;
        margin: 10px 0;
        font-size: 28px;
        position: relative;
        right: -500px;
        transition-timing-function: ease-out;
        border-bottom: #DC6B31 2px solid;
        padding:0 0 5px 0;
    }
    .nav__links a:focus, .nav__links a:hover{
        color: #DC6B31;
        transition-delay: 0s;
    }
    .nav__links_active a{
        right: 0;
        transition: 0.5s;
    }
    .nav__links a:nth-child(1){
        transition-delay: 1s;
    }
    .nav__links a:nth-child(2){
        transition-delay: 0.9s;
    }
    .nav__links a:nth-child(3){
        transition-delay: 0.8s;
    }
    .nav__links a:nth-child(4){
        transition-delay: 0.7s;
    }
    .nav__links a:nth-child(5){
        transition-delay: 0.6s;
    }
    .nav__links_active a:nth-child(1){
        transition-delay: 0.1s;
    }
    .nav__links_active a:nth-child(2){
        transition-delay: 0.3s;
    }
    .nav__links_active a:nth-child(3){
        transition-delay: 0.5s;
    }
    .nav__links_active a:nth-child(4){
        transition-delay: 0.7s;
    }
    .nav__links_active a:nth-child(5){
        transition-delay: 0.9s;
    }
    header{
        background-position: top 0 right -520px;
    }
    header h1{
        font-size: 44px;
        line-height: 52px;
        margin-bottom: 14px;
    }
    .header__title{
        font-size: 24px;
        line-height: 120%;
    }
    header p{
        font-size: 24px;
        line-height: 32px;
    }
    header a{
        padding: 10px 38px;
        font-size: 22px;
    }
    .aboutme__elements img{
        width: 220px;
    }
    .aboutme__info{
        width: 50%;
    }
    .content h3{
        font-size: 28px;
    }
    .swiper{
        width: 85%;
        min-width: 0;
        height: 80vw;
    }
    .swiper-button-next, .swiper-button-prev{
        display: none;
    }
    .application__contacts, .application__services{
        grid-column: span 2;
    }
    .application button{
        width: 100%;
        border-radius: 10px;
    }
    .application__contacts::before, .application__services::before{
        font-size: 20vw;
    }
    .form-contact{
        gap: 30px;
    }
}
@media (max-width: 638px){
    header h1{
        margin-bottom: 14px;
    }
    header p{
        font-size: 22px;
        line-height: 28px;
    }
    header a{
        padding: 8px 32px;
        font-size: 20px;
    }
    h2{
        font-size: 32px;
    }
}
@media (max-width: 537px){
    header{
        background-image: none;
    }
    .header-background{
        display: block;
        background: rgb(255,217,141);
        background: linear-gradient(90deg, rgba(255,217,141,1) 0%, rgba(254,149,81,1) 100%);
        background-size: 500%;
        background-position: top center;
        animation: move 30s linear infinite running;
        background-repeat: no-repeat;
    }
    .fixid-phone{
        display: flex;
        animation: change 5s ease infinite running;
        box-shadow: 0 0 15px;
    }
    .fixid-phone::before{
        content: "";
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: transparent;
        border: 2px solid #58B1B4;
        border-radius: 100%;
        transform: scale(0.9);
        z-index: -1;
        animation: wave 2s linear infinite;
    }
    @keyframes wave{
        0%{
            transform: scale(0.9);
            border-color: transparent;
        }
        10%{
            border-color: #58B1B4;
        }
        100%{
            transform: scale(2);
            border-color: transparent;
        }
    }
    .review input{
        width: 100%;
    }
    .review button{
        right: 50%;
        transform: translate(50%,0);
    }
    .aboutme__elements{
        flex-direction: column;
        align-items: center;
    }
    .aboutme__elements img{
        width: 80%;
    }
    .aboutme__info{
        width: 100%;
        padding: 30px 0;
    }
    .services__item{
        border-bottom: #58B1B4 1px solid;
    }
}
@media (max-width: 425px){
    .nav__social{
        position: fixed;
        background: #DC6B31;
        width: 100vw;
        left: 0;
        top: 52px;
        justify-content: center;
        transition: 0.5s;
    }
    .nav__social a, .nav__social a:nth-child(2), .nav__social a:nth-child(3){
        color:  #58B1B4;
    }
    .nav__links{
        top: 81.6px;
    }
    header{
        padding: 134px 0 133px 0;
    }
    header p{
        width: 100%;
    }
    .aboutme__elements img{
        width: 100%;
    }
    .swiper-slide{
        width: 75vw;
    }
    .swiper{
        width: 80%;
        height: 70vw;
    }
    .review{
        width: 100%;
    }
    .application__contacts::before, .application__services::before{
        font-size: 25vw;
    }
    .application__services::before{
        top: 20px;
        right: 20px;
    }
    .application__contacts::before{
        top: 20px;
    }
}
@media (max-width: 320px){
    header p{
        font-size: 20px;
        line-height: 30px;
        margin: 0 0 48px 0;
    }
    header a{
        padding: 6px 26px;
        font-size: 16px;
    }
    .application__date{
        flex-direction: column;
    }
    .application__date div{
        width: 100%;
        margin: 5px 0;
    }
}
@keyframes move{
    0%{
        background-position: top center;
    }
    25%{
        background-position: top right 10%;
    }
    50%{
        background-position: top center;
    }
    75%{
        background-position: top left 10%;
    }
    100%{
        background-position: top center;
    }
}
@keyframes change{
    0%{
        background: #6bf9e1;
        box-shadow: 0 0 15px 1px;
    }
    25%{
        background: #20e4c3;
        box-shadow: 0 0 20px 3px;
    }
    50%{
        background:  #06b093;
        box-shadow: 0 0 25px 6px;
    }
    75%{
        background:  #20e4c3;
        box-shadow: 0 0 20px 3px;
    }
    100%{
        background:  #6bf9e1;
        box-shadow: 0 0 15px 1px;
    }
}